.container{
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url(../../public/img33acdae0f/loading-windows98.gif);
    background-position: center;
    background-repeat: no-repeat;
}